<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>WIPAwards.com</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Farsan" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
	<header>
		<nav><ul><li><a href="logout"><button>Logout</button></a></li></ul></nav>
	</header>
    <body class="bckgrdbdy" background="../static/images/suit.jpg">
	   <h2>Admin</h2>
	   <div class="container">
		  <div class="bioBox">
			<br><p>Manage<br> As an admin user, you have different functions available to you than a regular user.</p>
            <br><p>Available Functions
				<br>You can -> Add/edit/delete normal and admin users
				<br>You can -> View Award and User Analytics</p>
			<br><p>NOTE!<br> The "Site" admin account is not able to be edited or deleted.</p>
           </div>
		    <div class="wrap">
				<a href="adduser.html" class="button2">Add User/Admin</a>
				<a href="manageusers.html" class="button2">Manage User/Admin</a>
				<a href="analytics.html" class="button2">Analytics</a>
            </div>
		</div>
    </body>
</html>