<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>WIPAwards.com</title>
        <link rel="stylesheet" href="../static/css/style.css">
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>  <!-- reCAPTCHA -->
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Farsan" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="../static/js/pwresetter.js"></script>
    </head>
    <body id="bdy" class="bckgrdbdy" background="../static/images/security.jpg">
		<br><br><br>
		<div class="login-box animated fadeInUp">
			<div class="box-header">
				<h3>Admin Reset Password</h3>
			</div>
			<br>
			<p>For security purposes, please contact another administrator for password reset</p>
			<br>
		</div>
    </body>
</html>