<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>WIPAwards.com</title>
        <link rel="stylesheet" href="../static/css/style.css">
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Farsan" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
	<header>
		<nav><ul><li><a href="logout"><button>Logout</button></a></li></ul></nav>
	</header>
    <body class="bckgrdbdy" background="../static/images/Employee.jpg">
	   <h2>Welcome!</h2>
	   <div class="container">
			<div class="bioBox">
				<br><br>
				<p>Welcome To WIPAwards.com! <br><br> WIP Awards is the place to reward and recognize
				employees for their hard work, dedication, and continued excellence.</p>
				<p><br>Get started! <br> When logged in, you will be able to send awards to others, view and manage past 
				  awards, and edit your first and last name.</p>
			</div>
		    <div class="wrap">
				<a href="createaward.html" class="button2">Create Award</a>
                <a href="awardsmanagement.html" class="button2">View & Manage Awards</a>			
				<a href="edituserprofile.html" class="button2">Edit Profile</a>
            </div>
		</div>
    </body>
</html>