<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>WIPAwards.com</title>
        <link rel="stylesheet" href="../static/css/style.css">
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>  <!-- reCAPTCHA -->
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Farsan" rel="stylesheet">
		<script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
		<script type="text/javascript" src="../static/js/pwresetter.js"></script>
    </head>  
    <body id="bdy" class="bckgrdbdy" background="../static/images/security.jpg">
		<br><br><br>
		<div id="part1" class="login-box animated fadeInUp">
			<div class="box-header">
				<h3>Reset Password</h3>
			</div>
			<br>
			<p>Enter your registered email address.</p>
			<p>If email is found, you will be prompted to answer security questions to reset password</p>
			<br>
			<label for="username">Email</label><br>
			<input type="text" id="username" name="username"><br><br>
			<br><button type="submit" id="btnSubmitEmail">Submit</button>
		</div>
		<div id="part2" style="visibility:hidden" class="login-box animated fadeInUp">
			<div class="box-header">
				<h3>Security Questions</h3>
			</div>
			<br>
			<p>Answer security questions (case sensitive), then enter new password to reset</p>
			<br>
			<label for="question1">Security Question 1</label>
			<p id="question1"></p><br>
			<label for="answer1">Answer 1</label><br>
			<input type="text" id="answer1" name="answer1">
			<br>	
			<label for="question2">Security Question 2</label>		
			<p id="question2"></p><br>
			<label for="answer2">Answer 2</label><br>
			<input type="text" id="answer2" name="answer2">	
			<br><br>
			<p>
				<input id="password" name="password" type="password" placeholder="New Password" onfocus="focusPassword()" onblur="blurPassword()" required />
				<span style="visibility: hidden" id="passwordmsg"></span>
			</p>
			<p>
				<input id="cfpassword" name="cfpassword" type="password" required placeholder="Confirm New Password" onblur="blurConfirmPW()"/>
				<span id="cfpassword_msg" style="visibility: hidden" class="cfpassword">Your passwords do not match</span>
			</p>
			<span style="visibility: hidden" id="result_msg">On or more answers are incorrect!</span>
			<br>
			<button type="submit" id="btnSubmitReset">Submit</button>
		</div>
    </body>
</html>