<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>WIPAwards.com</title>
        <link rel="stylesheet" href="../static/css/style.css">
		<script src="https://www.google.com/recaptcha/api.js" async defer></script>  <!-- reCAPTCHA -->
        <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Farsan" rel="stylesheet">
		<script type="text/javascript" src="../static/js/validate.js"></script>
    </head>  
    <body class="bckgrdbdy" background="../static/images/EOTM.jpeg">
        <h1>Welcome to WIPAwards.com!</h1>
		<div id="lgfrm" class="login-box animated fadeInUp">
			<div class="box-header">
				<h3>Sign In</h3>
			</div>
			<form action="" method="post" onsubmit="checkReCAPTCHA()">
				<label for="username">Email</label><br>
				<input type="text" id="username" name="username" required /><br>
				<label for="password">Password</label><br>
				<input id="password" name="password" type="password" required />
				<span style="visibility: hidden" id="passwordmsg">Enter a password of at least 8 characters</span>
				<div class="g-recaptcha" id="inrec" data-sitekey="6LcsT0MUAAAAAA89e6A7UWnUDv_U71esw3Y7Kjro"></div>
				<span style="visibility: hidden" id="captchamsg">Please complete reCaptcha to continue</span>
				<button type="submit" value="submit">Submit</button>
			</form>
			<a href="resetpassword.html"><p class="small">Forgot your password?</p></a>
			<a href="register.html"><p class="small">Not Registered?</p></a>
			<a href="adminlogin.html"><p class="small">Admin? Login Here</p></a>
		</div>
		<div class="unauth-box">Invalid email or password entered!</div>
    </body>
</html>